@font-face {
    font-family: "LogoFont";
    src: url("./Fonts/Yourbold-Demo.otf") format("truetype");
}

@font-face {
    font-family: "DesFont";
    src: url("./Fonts/FunnelSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Logo";
    src: url("./Fonts/Yourbold-Demo.otf") format("truetype");
}