@font-face {
    font-family: "LogoFont";
    src: url("./Fonts/HATORIDemo-FAT.otf") format("truetype");
}

@font-face {
    font-family: "DesFont";
    src: url("./Fonts/FunnelSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Logo";
    src: url("./Fonts/Yourbold-Demo.otf") format("truetype");
}

.mainFooter {
    display: grid;
    gap: 10px;
    padding: 10px 35px;
    box-sizing: border-box;
    height: 670px;
    width: 100%;
    background: linear-gradient(to bottom, #1a185f, #5865F2);
    text-align: center;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 9fr 7fr;
}

.topDiv{
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
    top: 10px;
    left: 35px;
    right: 35px;
    height: 40px;
}

.leftSide{
    grid-column: 1 / 2;
    grid-row: 2 / 3;

}

.rightSide{
    grid-column: 2 / 4;
}

.bottomDiv{
    grid-column: 1 / 4;
}

.logoName{
    border-radius: 12px;
    height: 29px;
    width: 130px;
    background-color: white;
    font-size: 30px;
    font-family: "LogoFont", sans-serif;
    padding-top: 3px;
}

.login {
    font-family: "DesFont", sans-serif;
    border-radius: 13px;
    height: 32px;
    width: 67px;
    background-color: white;
    align-content: center;
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
    padding-bottom: 1px;
}

.midDiv{
    height: 400px;
    top: 10px;
    left: 35px;
    right: 35px;
}

.logo{
    color: white;
    font-family: "logo", sans-serif;
    font-size: 60px;
    text-align: left;
}

select{
    width: 280px;
    height: 45px;
    border-radius: 10px;
    background-color: rgba(59, 60, 134);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

button{
    width: 25px;
    height: 25px;
    margin: 10px;
}

.btn6{
    opacity: 0;
}

.bottomDiv{
  font-family: "LogoFont", sans-serif;
  font-size: 395px;
  color: white;
}

.rightSide{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    font-family: "desFont", sans-serif;
    text-align: left;
}

.footerProduct{
    color: white;
    height: 100%;
    width: 165px;
    padding-top: 10px;
}

.footerCompany{
    color: white;
    height: 100%;
    width: 165px;
    padding-top: 10px;
}

.footerResources{
    color: white;
    height: 100%;
    width: 165px;
    padding-top: 10px;
}

.footerPolicies{
    color: white;
    height: 100%;
    width: 165px;
    padding-top: 10px;
}
